.header-section, .glyphicon-chevron-left, .glyphicon-chevron-right, .table:not(.index-page).list-item td:not(.logo), .table.list-item th, .full-padding, .img-label, .img-label strong, .img-label p {
	padding: 15px;
}
.logo-team {
	padding-top: 15px;
	padding-bottom: 15px;
}
.list-inline>li, .sponsors-slider div.content-box, .subsection:not(.content-box) {
	padding-left: 15px;	padding-right: 15px;
}
.table.profile>tbody>tr>td {
	padding-left: 15px;
}
.subsection.middle-vertical {
	padding-bottom: 0; padding-top: 0;	
}
nav.general, footer.general > section.bg-white {
	padding-bottom: 7px; padding-top: 7px;
}
.underline, .subsection/*:not(.content-box)*/ {
	padding-bottom: 15px;
}
.dropdown-menu>li>a, .table.index-page tr td, .footer-sub, .btn-lg, .pager li > a, .pager li > span {
	padding: 10px 15px;
}
.form-control {
	padding: 12px;
}
#go-top {
	padding: 8px;
}
.reset-padding, .rounds td.col-xs-3 {
	padding: 0;
}
*[class*="item-"],  .table.list-item td.logo {
	padding-right:0;
}
.table.list-item td.logo {
	padding-left: 0;
}
.rounds th, .rounds td:not(.col-xs-3) {
	padding: 15px 10px;
}
.playoff td {
	padding: 10px 0;
}